@model Instagram.Models.AdminReportsViewModel
<div>
    <form asp-action="DeleteUser" asp-route-username="@Model.User.UserName" method="delete" class="alert-link">
        <div class='top-insta'>
            <a asp-route-username="@Model.User.UserName" asp-controller="Gallery" asp-action="Index"><img src=@Model.User.Url></a>
            <a asp-route-username="@Model.User.UserName" asp-controller="Gallery" asp-action="Index" class='user'>@Model.User.UserName</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>