@model Instagram.Models.GalleryIndexModel

<div class="conteiner body-content">
    <div class="row gallery-content">
        @foreach (var post in Model.Posts)
        {
            <div class="gallery-post-container drop-shadow">
                <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@post.Id">
                    <div class="gallery-post" style="background-image: url(@post.Url)"></div>
                </a>
            </div>
        }
    </div>
</div>